.toped{height:500px;background:url("../img/8/ed.jpg") center top;}
.toped h5{font-size:60px;margin-bottom:60px;}
.toped .txt{padding-left:30px;}
.toped .edbor{padding:35px 60px;background:rgba(255,255,255,0.2);border:1px solid #fff;color:#fff;font-size:22px;margin-right:30px;}
.toped .edbor:hover{background:rgba(255,255,255,0.5);}
.txt{line-height:200%;}
.part1{background:#fff;padding-bottom:60px;padding-top:60px;}
.part2{background:#f7f7f7;padding-bottom:60px;padding-top:60px;}
.ibtn{color:#00a2ff;}
.co1{max-width:100%;}
.lcb{margin-left:-15px;height:336px;width:1238px;margin-top:50px;position:relative;}


.lcb .tit{font-size:20px;color:#333;}
.lcb .txt{font-size:14px;color:#666;text-align:left;}
h2{margin-top:0;}
h3{font-size:17px;font-weight:bold;color:#333;text-align:left;margin:0;line-height:200%;}

@media (max-width:768px){
    .co1{margin-top:15px;}
    .info1,.info2,.info3,.info4,.info5{display:block;width:320px;margin-left:15px;margin-bottom:20px;}
    .part2{height:820px;}
}
@media (min-width:768px){
    .lcb .info1{width:225px;position:absolute;top:-5px;left:160px;}
    .lcb .info2{width:225px;position:absolute;top:250px;left:350px;}
    .lcb .info3{width:225px;position:absolute;top:-5px;left:520px;}
    .lcb .info4{width:225px;position:absolute;top:250px;left:700px;}
    .lcb .info5{width:225px;position:absolute;top:-5px;left:880px;}

}
