
/**************************/
/*        顶部通用         */
/**************************/
.my-navbar .navbar-nav{margin-left:10px;margin-top:0;}
.my-navbar .navbar-nav li{margin-right:0;}
/*.my-navbar .navbar-nav li a{font-size:10px !important;}*/
.navbar-language{float:right;width:111px;height:37px;display:block;margin-top:34px;font-size:14px;color:#fff;}
.pc-menu6 .menu6txt{font-size:10px;}
.pc-menu6 .menu6txt .m6more{width:150px;font-size:10px;}
.footer2 .fright .fsns{margin-top: 80px;}
.sidebar a{font-size:10px;}
@media (max-width:768px){


}

@media (min-width:768px){
    .lcb .info1{width:285px !important;}
    .lcb .info2{width:285px !important;}
    .lcb .info3{width:285px !important;}
    .lcb .info4{width:285px !important;}
    .lcb .info5{width:285px !important;}

}



