.mailbor{width:910px;}
.header{height:100px;background-color:#75c339;color:#fff;clear:both;}
.header .title{width:500px;float:left;line-height:150%;margin-left:30px;margin-top:20px;}
.header .title .tit{font-size:24px;display:block;}
.header .title .txt{font-size:12px;display:block;}
.td,.jh{color:#5d830b;}
.main{background-color:#242223;height:900px;padding:30px;color:#fff;font-size:14px;line-height:180%;}
.mleft{width:45%;padding-right:20px;float:left;}
.mright{width:45%;float:right;height:900px;overflow:auto;}
.pic{margin:10px 0;}
.pic img{width:100%;}
.mright img{width:100%;}
.logo{width:160px;float:right;margin-right:30px;margin-top:20px;}
body{width:910px;}